// app global css
@import '~variables'

h1
    margin 15px 0 15px 0
    padding: 8px 0
    border-bottom 1px solid $light
    color $grey-7
    font-size: 2em

.address
    font-family: Consolas, Monaco, monospace
    color $grey-7
.modal-content
    border-radius 2px
.q-alert-content
    font-size 16px
    color: #FFFFFF
    border-radius 2px
    width 141px
    height 44px
.q-btn
    border-radius 2px !important
